[user]
	name = Dragoș Străinu
	email = str.dr4605@gmail.com

[alias]
  fetch-and-clean-branches = "!git fetch -p && git branch -vv | grep ': gone]'|  grep -v "\\*" | awk '{ print $1; }' | xargs git branch -D"
  clone-for-worktrees = "!sh git-clone-bare-for-worktrees"
  graph = "!git log --oneline --graph --exclude=refs/remotes/origin/gh-pages --all"

[includeIf "gitdir:~/Work/"]
    path = ~/Work/.gitconfig_work
