[user]
	name = Dragoș Străinu
	email = str.dr4605@gmail.com

[alias]
  fetch-and-clean-branches = "!git fetch -p \
    && git branch -vv \
    | grep ': gone]' \
    | grep -v "\\*" \
    | awk '{ if ($1==\"+\") { print $2; } else { print $1;} }' \
    | xargs git branch -D"
  start = "!(git fetch-and-clean-branches || true) && git checkout -b \"$1\" --no-track origin/master #"
  clone-for-worktrees = "!sh git-clone-bare-for-worktrees"
  graph = "!git log --oneline --graph --exclude=refs/remotes/origin/gh-pages --all"
  last = "!git reflog | grep checkout | awk '{print $NF}' | uniq | head -n 10 | fzf --height 10 --reverse --preview 'git log --oneline -n 5 {}' | xargs git checkout"

[includeIf "gitdir:~/Work/"]
  path = ~/Work/.gitconfig_work
[push]
	autoSetupRemote = true

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true    # use n and N to move between diff sections
  light = true      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
  line-numbers = true
  side-by-side = false

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[rerere]
  enabled = true
  autoUpdate = true
